<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xbn.dao.LabDao">
    <select id="queryUserInfo" resultType="com.xbn.pojo.UserInfoPojo">
      select * from lab_user_info
    </select>
</mapper>