<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xbn.dao.WorkDao">
    <insert id="addRecord" parameterType="com.xbn.pojo.WorkRecordInfo" >
        insert into  lab_workrecord_info (workrecord_name,workrecord_content,workrecord_time,user_name) values(#{workrecordName},#{workrecordContent},#{workrecordTime},#{userName})
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
    <select id="selWork"  resultType="com.xbn.pojo.WorkRecordInfo">
        select workrecord_name workrecordName,workrecord_content  workrecordContent,workrecord_time workrecordTime,user_name userName  from  lab_workrecord_info
        order by id DESC
    </select>
</mapper>